@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Marck+Script&family=Playwrite+CU:wght@100..400&family=Shadows+Into+Light&display=swap');

body{
    color: #ffefef;
    background-color: #ffefef;
}

header{
    height: 210px;
    background-color: #8f7b76;
    border-radius: 100px 50px 50px 100px;
    
}
#img1{
    display: flex;
    position: relative;
    left: -30px;
    top: -10px;
    border-radius: 0 190px 80px 0;
    background-color: #ffefef;
    width: 300px;
    height: 250px;
    display: flex;
}
#lista2{
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 135px 40px 0 0;
    gap: 80px;
    
}

#lista1{
    height: 0;
    display: flex;
    justify-content: start;
    list-style: none;
    padding: 0 0 0 0;
    
}

a{
    font-family: "Montserrat";
    font-size: 3rem;
    color:#ffefef;
    text-decoration: none;
}

#txt1{
    font-family: "Shadows Into Light";
    display: flex;
    position: relative;
    top: -192px;
    font-size: 10rem;
}

.balão1{
    padding: 15px 10px 0px 10px ;
    height: 650px;
    width: 760px;
    background-color: #a8b6bd;
    border-radius: 30px;
}

#txt2{
    margin: 0px;
    font-family: "Dancing Script" ;
    font-size: 3.8rem;
}

#txt3{
    margin: 0px;
    font-size: 3.2rem;
    text-align: justify;

}

.balão2{
    padding: 15px 10px 0px 10px ;
    height: 650px;
    width: 760px;
    background-color: #d3a099;
    border-radius: 30px;
}

#txt4{
    margin: 0px;
    font-family: "Dancing Script" ;
    font-size: 3.8rem;

}

#txt5{
    margin: 0px;
    font-size: 3.2rem;
    text-align: justify;

}

#lista3{
    display: flex;
    justify-content: center;
    gap: 80px;
    list-style: none;
    padding: 0 0 0 0;
}

