@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Marck+Script&family=Playwrite+CU:wght@100..400&family=Shadows+Into+Light&display=swap');

/*Cabeçalho*/
#linha1{
    margin: 15px 0 0 0;
    height: 210px;
    background-color: #8f7b76;
    border-radius: 100px 50px 50px 100px;
}

#logo{
    border-radius: 0 180px 80px 0;
    background-color: #ffefef;
    height:260px;
    width: 100px;   
}

#img1{
    width: 300px;
    height: 250px;
}

#corpo{
    color:white;
    background-color: #ffefef;
}

#txt1{
    display: flex;
    position: relative;
    top: -18px;
    font-family: "Shadows Into Light";
    font-size: 10rem;   
}

#lista1{
    font-family: "Montserrat";
    font-size: 3rem;
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 145px 40px 0 0;
    gap: 80px;
}

#txt2{
    color: white;
    text-decoration: none;
}

#txt3{
    color: white;
    text-decoration: none;
}
/*Fim do cabeçalho*/


/*Texto*/
#txt4{
    font-family: "Shadows Into Light";
    color:#8f7b76;
    font-size: 8rem;
}

#txt5{
    font-size: 2rem;
    text-align: justify;
    display: flex;
}

#linha3{
    display: flex;
    border-radius: 30px;
    background-color: #8f7b76;
    width: 1700px;
    height: 120px;
    padding: 8px 20px 0 20px;
    margin: 0 0 0 100px;   
}
/*Fim do Texto*/


/*Opções*/
#linha4{
    height: 410px;
}

#opc1{
    width: 400px;
    height: 360px;
    border-radius: 100%;
    background-color: #a8b6bd;
    display: flex;
    justify-content: center;
}

#opc2{
    width: 400px;
    height: 360px;
    border-radius: 100%;
    background-color:#d3a099;
    display: flex;
    justify-content: center;
}

#lista2{
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 80px;
    list-style: none;
}

#linha5{
    height: 100px;
}

#lista3{
    color:#8f7b76;
    font-family:"Shadows Into Light";
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
    gap: 290px;
    list-style: none;
}

#opc1t{
    color:#8f7b76;
    text-decoration: none;
}

#opc2t{
    color:#8f7b76;
    text-decoration: none;
}

#img2{
    display: flex;
    width: 100%;
    height: 100%;
}

#img3{
    display: flex;
    width: 100%;
    height: 100%;
}